<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="./img/tra.jpg">
        <link rel="stylesheet" href="./css/styles.css">
        <title>Testing</title>
    </head>
    <body>

        <div class="main-content">
            {{>header}}
            <h1>this about page</h1>
            <img class="portrait" src="./img/tra.jpg">
        </div>

        {{>footer}}
    </body>
</html>